@use '../../common/styles/types.scss';


.random-poke{
     display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/assets/images/pokedex.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 195px;
    padding-bottom: 175px;
    padding-top: 100px;

    p{
        margin: 0.25rem;
    }
}

